<p><%= @message%></p>
<p>Stock Symbol</p>
<p><%= @stock.symbol %></p>
<p>Stock Book Value</p>
<p><%= @stock.book_value %></p>
<p>Stock Bid Price</p>
<p><%= @stock.bid %></p>
<p>Stock Offer Price</p>
<p><%= @stock.offer %></p>
<p>Stock Day Low</p>
<p><%= @stock.day_low %></p>
<p>Stock Day High</p>
<p><%= @stock.day_high %></p>
<p>Stock Day Range</p>
<p><%= @stock.day_range %></p>


<a href="/stock">Another Stock?</a></b>
<a href="/home">Main Menu?</a>