<p><%= @message%></p>
<p>Stock Name</p>
<p><%= @stock.name %></p>
<p>Stock Bid Price</p>
<p><%= @stock.bid %></p>
<p><%= @stock.change%> - <%= @stock.change_percent%></p>
<p>Stock Day Range</p>
<p><%= @stock.day_range %></p>


<a href="/stock">Another Stock?</a></b>
<a href="/home">Main Menu?</a>