<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See your accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<div class="content">
  <h3>Account ID #</h3>
  <p><%= @account.id %></p>
  <h3>Account Type</h3>
  <p><%= @account.name %></p>
  <h3>Account users</h3>
  <table>
    <tr>
      <td>User #</td>
      <td>User Name</td>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user["id"] %></td>
      <td><%= user["email"]%></td>
    </tr>
    <% end %>
  </table>
  <h3>Account Balance</h3>
  <p>$<%= @account.balance %></p>
</div>
<div style="clear: both"></div>