<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See a list of accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<h3>Account ID #</h3>
<p><%= @account.id %></p>
<h3>Account Type</h3>
<p><%= @account.type %></p>
<h3>Account users</h3>
<table>
  <tr>
    <td>User #</td>
    <td>User Name</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><a href="/single_user/<%= user["id"] %>"><%= user["id"] %></a></td>
    <td><%= user["name"]%></td>
  </tr>
  <% end %>
</table>
<h3>Account Balance</h3>
<p>$<%= @account.balance %></p>

