<h3>Account ID #</h3>
<p><%= @account.id %></p>
<h3>Account Type</h3>
<p><%= @account.type %></p>
<h3>Account users</h3>
<table>
  <tr>
    <td>User #</td>
    <td>User Name</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><a href="/single_user/<%= user["id"] %>"><%= user["id"] %></a></td>
    <td><%= user["name"]%></td>
  </tr>
  <% end %>
</table>
<h3>Account Balance</h3>
<p>$<%= @account.balance %></p>

<a href="/accounts_menu">Accounts Menu?</a></b>
<a href="/home">Main Menu?</a>