<h1>Enter the information for the account to be added.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See a list of accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<form action="/new_account_form_do">
  <select name ="account[type]">
    <option value="Checking">Checking</option>
    <option value="Savings">Savings</option>
  </select>
  
  <p>Which users have access to this account? (up to three)</p>
  <select name ="account[id1]">
    <% User.all.each do |user| %> 
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  <select name ="account[id2]">
    <option value="blank"></option>
    <% User.all.each do |user| %> 
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  <select name ="account[id3]">
    <option value="blank"></option>
    <% User.all.each do |user| %> 
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>
<br>