<h3>User ID #</h3>
<p><%= @user.id %></p>
<h3>User Name</h3>
<p><%= @user.name %></p>
<h3>User Accounts</h3>
<table>
  <tr>
    <td>Account #</td>
    <td>Type</td>
    <td>Balance</td>
  <% @accounts.each do |account|%>
  <tr>
    <td><a href="/single_account/<%=account["id"]%>"><%= account["id"]%></a></td>
    <td><%= account["type"]%></td>
    <td><%= account["balance"]%></td>
  </tr>
  <% end %>
</table>
<h3>User Total Balance</h3>
<p><%= @user.total_balance %></p>

<a href="/users_menu">Users Menu?</a></b>
<a href="/home">Main Menu?</a>