<h3 class="errors"><%= @errors %></h3>

<h1>Enter the information for the transaction.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_transaction">Create a transaction</a></li>
    <li><a href="/all_transactions">See a list of all transactions and information on them.</a></li>
    <li><a href="/where">See a list of transactions for a specific account</a></li>
    <li><a href="/update_transaction_form">Update a transaction's information</a></li>
    <li><a href="/delete_transaction_list">Delete a transaction</a></li>
  </ul>
</div>

<form action="/new_transaction_form_do">
  <p>Enter the amount as either a credit or debit.</p>
  <input type='text' placeholder='Ex. 12.12 for credits, -12.12 for debits' name="transaction[amount]">
  <p>Enter a description for the transaction</p>
  <input type='text' placeholder='Description' name="transaction[description]">
  <p>Enter the date of the transaction.</p>
  <input type='text' placeholder='Ex. 06-01-2015' name="transaction[date]">
  <p>Enter the category for the transaction</p>
  <select name ="transaction[category_id]">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <p>Enter the account for the transaction</p>
  <select name ="transaction[account_id]">
    <% Account.all.each do |account| %> 
      <option value="<%= account.id %>"><%= account.id %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>
<br>
