<h3>Transaction ID #</h3>
<p><%= @transaction.id %></p>
<h3>Transaction Amount</h3>
<p><%= @transaction.amount %></p>
<h3>Transaction Description</h3>
<p><%= @transaction.description %></p>
<h3>Transaction Date</h3>
<p><%= @transaction.date %></p>
<h3>Transaction Category ID #</h3>
<p><%= @transaction.category_id %></p>
<h3>Transaction Account ID #</h3>
<p><%= @transaction.account_id %></p>

<a href="/transactions_menu">Transactions Menu?</a></b>
<a href="/home">Main Menu?</a>