<div class="menu">
  <ul>
    <li><a href="/new_transaction">Create a transaction</a></li>
    <li><a href="/all_transactions">See a list of all transactions and information on them.</a></li>
    <li><a href="/where">See a list of transactions for a specific account</a></li>
    <li><a href="/update_transaction_form">Update a transaction's information</a></li>
    <li><a href="/delete_transaction_list">Delete a transaction</a></li>
  </ul>
</div>

  <div class="content">
  <h3>Transaction ID #</h3>
  <h4><%= @transaction.id %></h4>
  <h3>Transaction Amount</h3>
  <h4>$<%= @transaction.amount %></h4>
  <h3>Transaction Description</h3>
  <h4><%= @transaction.description %></h4>
  <h3>Transaction Date</h3>
  <h4><%= @transaction.date %></h4>
  <h3>Transaction Category ID #</h3>
  <h4><%= @transaction.category_id %></h4>
  <h3>Transaction Account ID #</h3>
  <h4><%= @transaction.account_id %></h4>
</div>

<div style="clear: both"></div>