<h1>Please select the transaction you wish to update.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_transaction">Create a transaction</a></li>
    <li><a href="/all_transactions">See a list of all transactions and information on them.</a></li>
    <li><a href="/where">See a list of transactions for a specific account</a></li>
    <li><a href="/update_transaction_form">Update a transaction's information</a></li>
    <li><a href="/delete_transaction_list">Delete a transaction</a></li>
  </ul>
</div>

<form action="/update_transaction_form_do">
  <select name ="transaction[id]">
    <% Transaction.all.each do |transaction| %> 
      <option value="<%= transaction.id %>"><%= transaction.amount %> - <%= transaction.date %> - 
        <%= transaction.description %></option>
    <% end %>
  </select>
  
  <p>To update the transaction's amount, type here.</p>
  <input type="text" placeholder="Ex. 12.12 for credits, -12.12 for debits" name="transaction[amount]">
  <p>To update the transactions description, type here.
  <input type="text" placeholder="Update description" name="transaction[description]">
  <p>To update the transactions's date, type here.</p>
  <input type="text" placeholder="Ex. 06-01-2015" name="transaction[date]">
  
  <h3>For category update, please select the new category (leave blank if you do not wish to update)</h3>
  <select name ="transaction[category_id]">
    <option value="blank"></option>
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select></b>
  <h3>For account update, please select the new account (leave blank if you do not wish to update)</h3>
  <select name ="transaction[account_id]">
    <option value="blank"></option>
    <% Account.all.each do |account| %> 
      <option value="<%= account.id %>"><%= account.id %></option>
    <% end %>
  </select></b>
  <input type="submit">
</form>


<div style="clear: both"></div>
