<h1>Which account do you want to see a list of transactions for?</h1>

<form action="/where">
  <select name ="id">
    <% Account.all.each do |account| %> 
      <option value="<%= account.id %>"><%= account.id %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<% if params["id"]%>
  <h1>Here they are. Click on a transaction to see it's full details.'</h1>

  <ul>  
    <% Transaction.where("account_id", params["id"]).each do |transaction| %>
      <li><a href="/single_transaction/<%=transaction.id%>"><%= transaction.id %> - <%= transaction.amount%> - <%= transaction.date%> - <%= transaction.description%></li>
      <% end %>
  </ul>
<% end %>

<a href="/transactions_menu">Transactions Menu?</a></b>
<a href="/home">Main Menu?</a>